<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @patient.name %>
</p>

<p>
  <strong>Street address:</strong>
  <%= @patient.street_address %>
</p>

<p>
  <strong>Specialist:</strong></br>
  <% @patient.specialists.each do |specialist| %>
    <%= specialist.name %></br>
  <% end %>
</p>

<p>
  <strong>Date of Appointment:</strong></br>
  <% @patient.appointments.each do |appointment| %>
      <%= appointment.appointment_date %></br>
  <% end %>
</p>

<p>
  <strong>Insurance:</strong></p></br>
    <% @patient.insurance_id %>
</p>

<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
