<p id="notice"><%= notice %></p>

<p>
  <strong>Specialist:</strong>
  <%= @appointment.specialist_id %>
</p>

<p>
  <strong>Patient:</strong>
  <%= @appointment.patient_id %>
</p>

<p>
  <strong>Complaint:</strong>
  <%= @appointment.complaint %>
</p>

<p>
  <strong>Appointment Date:</strong>
  <%= @appointment.appointment_date %>
</p>

<p>
  <strong>Fee:</strong>
  <%= @appointment.fee %>
</p>

<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
