<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @specialist.name %>
</p>

<p>
  <strong>Speciality:</strong>
  <%= @specialist.speciality %>
</p>

<p>
  <strong>Patient:</strong></br>
  <% @specialist.patients.each do |patient| %>
    <%= patient.name %></br>
   <% end %>
</p>

<p>
  <strong>Date of Appointment (# of Days Left):</strong></br>
  <% @specialist.appointments.each do |appointment| %>
    <%= appointment.appointment_date %>
    (<%= (appointment.appointment_date - Date.current).to_i %>)</p></br>
  <% end %>
</p>


<%= link_to 'Edit', edit_specialist_path(@specialist) %> |
<%= link_to 'Back', specialists_path %>
